/* Base styles */
:root {
    --primary-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --section-padding: 60px;
}

body {
    font-family: var(--primary-font);
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    background: linear-gradient(rgba(197, 197, 197, 0.7), rgba(214, 226, 238, 0.992))
}

section {
    padding-top: var(--section-padding);
}
.card-2{
    width: 800px;
    min-height: 250px;
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 18px );
    -webkit-backdrop-filter: blur( 18px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 1rem;
    padding: 1.5rem;
    z-index: 10;
    color: whitesmoke;
  }
  .container-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }
  .container-2 h1{
    font-size: 2rem;
  }
@media (max-width: 768px) {
    .hero {
        text-align: center;
    }
    
    .hero h1 {
        font-size: 2.5em;
    }
}